/* Ajustes gerais de estilo */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: 10px;
  box-sizing: border-box;
}

.dashboard-content-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-content-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.dashboard-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.dashboard-button-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.dashboard-footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

/* Estilo do ListBox */
.dashboard-select {
  width: 200px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 2px solid #007bff;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  position: relative;
}

.dashboard-select:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dashboard-select:hover {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.dashboard-select::-ms-expand {
  display: none;
}

.dashboard-select::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
  pointer-events: none;
}

/* Estilo das Modais */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1001;
  user-select: none;
  pointer-events: auto;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.modal button:active {
  background-color: #004085;
}

.add-dashboard-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 35px;
  right: 30px;
  font-size: 36px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.add-dashboard-button:hover {
  background-color: #0056b3;
}

.dashboard-button-container .dashboard-button.disabled,
.dashboard-button-container .add-dashboard-button.disabled {
  background-color: grey;
  color: #ccc;
  cursor: not-allowed;
}

/* Container do Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Estilo do Tooltip */
.tooltip {
  visibility: hidden;
  width: 140px;
  /* Largura do tooltip */
  background-color: #555;
  /* Cor de fundo do tooltip */
  color: #fff;
  /* Cor do texto */
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  /* Preenchimento do tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Ajuste a posição vertical do tooltip */
  left: 50%;
  /* Ajuste a posição horizontal para o centro */
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  /* Tamanho da fonte do tooltip */
}

/* Mostrar Tooltip ao passar o mouse */
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Estilo adicional para telas maiores (desktop) */
@media (min-width: 768px) {
  .tooltip-container .tooltip {
    left: 100%;
    bottom: auto;
    /* Ajustar a posição horizontal para o lado direito do botão */
    margin-left: 10px;
    /* Espaço entre o botão e o tooltip */
    transform: translateX(0);
  }
}
