/* styles/global.css */

:root {
  --primary-color: #0056b3; /* Azul primário */
  --secondary-color: #007bff; /* Azul secundário */
  --text-color: #333; /* Cor do texto */
  --background-color: #eee; /* Cor de fundo */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body, html {
  background: var(--background-color);
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  overflow: hidden; /* Evita rolagem desnecessária */
}

#root {
  height: 100%;
  overflow: auto; /* Permite rolagem dentro do contêiner principal */
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #004085; /* Aplicando um tom mais escuro do azul */
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: #0056b3; /* Aplicando um tom mais escuro do azul secundário */
}
