/* Card da despesa */
.expense-card {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.expense-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Container dos botões de ação */
.expense-card__button-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Botões dentro do card */
.expense-card__edit-button,
.expense-card__delete-button,
.expense-card__save-button,
.expense-card__cancel-button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.expense-card__edit-button,
.expense-card__save-button {
    background: #007bff;
    color: #fff;
}

.expense-card__edit-button:hover,
.expense-card__save-button:hover {
    background: #0056b3;
}

.expense-card__delete-button,
.expense-card__cancel-button {
    background: #bbb6b6;
    color: #fff;
}

.expense-card__delete-button:hover,
.expense-card__cancel-button:hover {
    background: #666;
}

/* Conteúdo do card */
.expense-card__content {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 1px;
    width: calc(100% - 95px);
    box-sizing: border-box;
}

/* Estilos dos campos do card */
.expense-card__field-container {
    display: flex;
    align-items: center;
    margin: 1px;
}

.expense-card__field-label {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-right: 10px;
    font-weight: bold;
    width: 200px;
}

.expense-card__info,
input[type="text"] {
    border: 1px solid #ddd;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    outline: none;
    cursor: default;
}

input[type="text"]:disabled {
    background-color: #e9ecef;
}

/* Estilos para o Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-close-button:hover {
    background: #0056b3;
}

.confirm-yes {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}

.confirm-yes:hover {
    background: #0056b3;
}

.confirm-no {
    background: none;
    color: #6c757d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
}

.confirm-no:hover {
    background: #a4a5a7;
}
