.balance-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.balance-chart__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #333;
}

.title-label {
  font-weight: bold;
}

.title-percentage {
  font-weight: bold;
  color: #007bff;
}

.custom-tooltip {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  max-width: 200px;
  text-align: left;
}

.custom-tooltip p {
  margin: 0;
  font-weight: normal;
}

.recharts-legend {
  font-size: 14px;
  margin-top: 10px;
}

.recharts-legend-item {
  margin-bottom: 2px;
}

.recharts-legend-item text {
  font-size: 14px;
}
