.promotion-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  overflow: hidden;
}

.promotion-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  margin-top: 100px;
}

.edit-button,
.delete-button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background: #0056b3;
}

.delete-button {
  background: #bbb6b6;
}

.delete-button:hover {
  background: #666;
}

.card-content {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin: 1px;
  width: calc(100% - 95px);
  box-sizing: border-box;
}

.field-container {
  display: flex;
  align-items: center;
  margin: 1px;
}

.field-label {
  font-size: 14px;
  color: #666;
  margin-right: 10px;
  font-weight: bold;
  width: 150px;
}

.promotion-card__info,
input[type="text"] {
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #333;
  border-radius: 5px;
  outline: none;
  cursor: default;
}

input[type="text"]:disabled {
  background-color: #e9ecef;
}
